# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/out
*.class
/target

/.gradle
/gradle/

/27-rxkotlin-flowables-and-concurrency/.gradle/
/27-rxkotlin-flowables-and-concurrency/build/kotlin/compileKotlin/
/27-rxkotlin-flowables-and-concurrency/gradle/wrapper/
/28-rxkotlin-operators/.gradle/
/28-rxkotlin-operators/build/kotlin/compileKotlin/
/28-rxkotlin-operators/gradle/wrapper/
/26-reactive-rxkotlin/.gradle/
/26-reactive-rxkotlin/gradle/wrapper/
/25-coroutines/.gradle/
/25-coroutines/build/kotlin/compileKotlin/
/25-coroutines/gradle/wrapper/
/27-reactive-rxkotlin/.gradle/
/27-reactive-rxkotlin/gradle/wrapper/
/29-rxkotlin-operators/.gradle/
/29-rxkotlin-operators/build/kotlin/compileKotlin/
/29-rxkotlin-operators/gradle/wrapper/
/28-rxkotlin-flowables-and-concurrency/.gradle/
/28-rxkotlin-flowables-and-concurrency/build/kotlin/compileKotlin/
/28-rxkotlin-flowables-and-concurrency/gradle/wrapper/
